html {
  box-sizing: border-box;
  position: relative;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Helvetica Neue Cyr Light', sans-serif;
  font-size: 20px;
  font-weight: 300;
  background-color: #f2f0f1;
  color: #282626;
  }
  h1, h2, h3, p, figure{
    margin: 0;
    padding: 0;
  }
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li:last-child {
  margin-bottom: 0
}
a{
  text-decoration: none;
  color: inherit;
}
.main {
  padding: 100px 0;
  display: grid;
  gap: 100px;
}


.container {
  max-width: 1440px;
  padding: 0 130px;
  margin: 0 auto;
}

.title {
  font-family: 'Comfortaa';
  min-width: 380px;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  color: #282626;
  margin-bottom: 50px;
}
.subtitle {
  font-family: 'Helvetica Neue Cyr Heavy', sans-serif;
  font-weight: 550;
  font-size: 30px;
  line-height: 113%;
  letter-spacing: -0.5px;
  margin-bottom: 15px;
  color: #282626;
}
.link {
  position: relative;
  font-family: 'HelveticaNeueCyr';
  font-weight: 550;
  font-size: 20px;
  line-height: 130%;
  color: #FF8A00;
}
.link:after {
  position: absolute;
  content: '';
  width: 27px;
  height: 17px;
  top: 5px;
  left: calc(100% + 15px);
  background-image: url('../img/link-arrow.svg');
}
