.pet__grid {
  display: grid;
  max-width: 880px;
  grid-template-rows: 322px 326px;
  grid-template-columns: 480px 280px 380px;
  justify-content: space-between;
  gap: 20px;  
}

.pet__enclosure {
  display: grid;
  grid-template-columns: 280px 280px 180px;
  gap: 20px;
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
}
.pet__presantation  {
  font-weight: 300;
  font-size: 20px;
  line-height: 130% ;
  color: #282626;
}
@media (max-width: 1040px) {
  .pet__grid {
    grid-template-rows: 235px 214px;
    grid-template-columns: 360px 180px 280px;
    gap: 40px 20px;  
  }
  .pet__photo:nth-child(2){
    min-height: 100%;
  }
  .pet__presantation  {
    font-size: 18px;
    line-height: 133% ; 
  }
  .pet__enclosure {
    display: grid;
    grid-template-rows: 214px 104px;
    grid-template-columns: 180px 180px 180px;
    gap: 10px;
    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
  }
  .pet__photo_close:last-child {               
    grid-row: 1 / 3;
    grid-column: 3 / 4;
  }
  
}
@media (max-width: 900px) {
  .pet__grid {
    max-width: 700px; 
    grid-template-columns: 
    [one-c-s]
    4fr
    [one-c-e two-c-s]
    2fr
    [two-c-e three-c-s]
    3fr
    [three-c-e];
    grid-template-rows:
    [one-r-s]
    262px
    [one-r-e two-r-s]
    364px
    [two-r-e three-r-s]
    550px
    [tree-r-e four-r-s]
    176px
    [four-r-e];
    gap: 30px 20px;  
  }
  .pet__photo_out:nth-child(1) {
    grid-column: one-c-s / two-c-e;
    grid-row: one-r-s / two-r-e;
  }
  .pet__photo_out:nth-child(2) {
    grid-column: three-c-s / three-c-e;
    grid-row: one-r-s / two-r-e;
  }
  .pet__photo_out:nth-child(3) {
    grid-column: two-c-s / three-c-e;
    grid-row: three-r-s / four-r-e;
  }
  .pet__presantation  {
    font-size: 18px;
    line-height: 133% ; 
  }
  .pet__enclosure {
    max-width: 700px;
    display: grid;
    grid-template-rows:
    [one-r-s]
    354px
    [one-r-e two-r-s]
    550px
    [two-r-e];
    grid-template-columns:
    [one-c-s]
    4fr
    [one-c-e two-c-s]
    20px 
    [two-c-e three-c-s]
    20px
    4fr
    [three-c-e];
    gap: 40px 20px;

  }
  .pet__photo_close:nth-child(1) {
    grid-column: one-c-s / two-c-e;
    grid-row: one-r-s / one-r-e;
  }
  .pet__photo_close:nth-child(2) {
    grid-column: three-c-s / three-c-e;
    grid-row: one-r-s / one-r-e;
  }
  .pet__photo_close:nth-child(3) {
    grid-column: one-c-s / one-c-e;
    grid-row: two-r-s / three-r-e;
  }
  
}
@media (max-width: 450px) {
  .pet__grid {
    display: grid;
    max-width: 270px;
    grid-template-rows:
    [one-r-s] 
    214px
    [one-r-e two-r-s] 
    334px
    [two-r-e three-r-s]
    518px
    [three-r-e four-r-s]
    1062px
    [four-r-e];
    grid-template-columns:
    [one-c-s] 
    270px
    [one-c-e];
    row-gap: 20px;  
  }
  .pet__photo_out:nth-child(1) {
    grid-row: one-r-s / one-r-e;
    grid-column: one-c-s /one-c-e;
  }
  .pet__photo_out:nth-child(2) {
    grid-row: two-r-s / two-r-e;
    grid-column: one-c-s /one-c-e;
  }
  .pet__photo_out:nth-child(3) {
    grid-row: three-r-s / three-r-e;
    grid-column: one-c-s /one-c-e;
  }

  
  .pet__enclosure {
    display: grid;
    max-width: 270px;
    /* grid-template-columns: 270px; */
    grid-template-rows:
    [one-r-s] 
    304px 
    [one-r-e two-r-s]
    454px
    [two-r-e three-r-s] 
    304px
    [three-r-e];
    grid-template-columns:
    [one-c-s] 
    270px
    [one-c-e];

    row-gap: 20px;
    grid-row: 4 / span 1;
    /* grid-column: 1 / span 2; */
  }
  .pet__photo_close:nth-child(1) {
    grid-row: three-r-s / three-r-e;
    grid-column: one-c-s /one-c-e;
  }
  .pet__photo_close:nth-child(2) {
    grid-row: one-r-s / one-r-e;
    grid-column: one-c-s /one-c-e;
  }

  .pet__presantation  {
    font-size: 14px;
    line-height: 24px; ;
  }

}
