.pet__grid {
  display: grid;
  grid-template-rows: 322px 326px 50px;
  grid-template-columns: 22% 12% 6% 12% 32%;
  /* grid-template-columns: 40.7% 23.7% 32%; */
  justify-content: space-between;
  column-gap: 0;;  
}
.pet__photo:nth-child(1) {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
}
.pet__photo:nth-child(2) {
  grid-row: 1 / span 1;
  grid-column: 3 / span 2;
}
.pet__photo:nth-child(3) {
  grid-row: 1 / span 2;
  grid-column: 5 / span 1;
}
.pet__photo:nth-child(4) {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
}
.pet__photo:nth-child(5) {
  grid-row: 2 / span 1;
  grid-column: 2 / span 2;

}
.pet__photo:nth-child(6) {
  grid-row: 2 / span 1;
  grid-column: 4 / span 1;
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.pet__photo:nth-child(6) img {
  width: 100%;
  height: 40%;
  object-fit: cover;
}

.pet__presantation  {
  font-weight: 300;
  font-size: 20px;
  line-height: 130% ;
  color: #282626;
}
@media (max-width: 1040px) {
  .pet__grid {
    grid-template-rows: 235px 214px 150px;
    grid-template-columns: 20% 20% 20% 31%;
      gap: 40px 20px;
  }
  .pet__photo_out:nth-child(2) img{
    width: 100%;
    height: 90%;
  }
  
  .pet__presantation  {
    font-size: 18px;
    line-height: 133% ; 
  }
  .pet__photo:nth-child(1) {
    grid-column: 1 / 3;
  }
  .pet__photo:nth-child(2) {
    grid-column: 3 / 4;
  }
  .pet__photo:nth-child(2) img {
    height: 98%;
   
  }
  .pet__photo:nth-child(3) {
    grid-column: 4 / 5;
  }
  .pet__photo:nth-child(4) {
    grid-row: 2 / 3;
    grid-column: 1 /  2;
  }
  .pet__photo:nth-child(5) {
    grid-row: 2 /3;
    grid-column: 2 /  3;
  
  }
  .pet__photo:nth-child(6) {
    grid-row: 2 / 4;
    grid-column: 3 /  4;
    width: 100%;
    min-height: 50%;
    object-fit: cover;
  }
   
}
@media (max-width: 900px) {
  .pet__grid {
    width: 100%;
      grid-template-columns: 38% 4% 1.5% 15.4% 29%;
    
    grid-template-rows: 312px 354px 550px 176px;
    gap: 20px 20px;
  }
  .pet__photo:nth-child(1) {
    grid-column: 1 / 5;
    grid-row: 1/ 2;
  }
  .pet__photo:nth-child(2) {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
  }
  .pet__photo:nth-child(2) img{
    height: 88%;
  }
  .pet__photo:nth-child(4) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
.pet__photo:nth-child(4) img {
  height: 94%;
  object-fit: cover;
}
  .pet__photo:nth-child(5) {
    grid-column: 4 / 6;
    grid-row: 2 / 3;
  }
  .pet__photo:nth-child(6) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .pet__photo:nth-child(3) {
    grid-column: 3 / 6;
    grid-row: 3 / 4;
    
  
  }
  
  .pet__presantation  {
    font-size: 18px;
    line-height: 133% ; 
  }
  
  
  
  
}
@media (max-width: 684px) {
  .pet__grid {
    max-width: 634px;
    grid-template-columns: repeat(2, 48%);
    }
    .pet__photo:nth-child(1),
    .pet__photo:nth-child(4),
    .pet__photo:nth-child(6) {
      grid-column: 1 / 2;
    }
                                .pet__photo:nth-child(2),
    .pet__photo:nth-child(3),
    .pet__photo:nth-child(5) {
      grid-column: 2 / 3;
    }
  .pet__photo:nth-child(1) img {
    height: 88%;
    }
    
    .pet__photo:nth-child(5) img {
      height: 88%;
    }
}

@media (max-width: 500px) {
  .pet__photo:nth-child(1) img{
    object-fit: cover;
  }
}

@media (max-width: 450px) {
  .pet__title {
    margin-bottom: 10px;
  }
  .pet__grid {
    display: grid;
    
    grid-template-rows: 214px 334px 468px 304px 454px 304px;
    grid-template-columns: 100%;
    row-gap: 10px;  
  }
  .pet__photo {
    padding: 0 20px;
  }
  .pet__photo img {
    margin-top: 10px;
  }
  .pet__photo:nth-child(1) {
    grid-row: 1 / 2;
    grid-column: 1 /2;
    padding-top: 50px;
    
   
  }
  .pet__photo:nth-child(1) img {
    height: 70%;
    object-fit: cover;
  }
  .pet__photo:nth-child(2) {
    grid-row: 2 / 3;
    grid-column: 1 /2;
  }
  .pet__photo:nth-child(3) {
    grid-row: 3 / 4;
    grid-column: 1 /2;
  }
  .pet__photo:nth-child(5) {
    grid-row: 4 / 5;
    grid-column: 1 /2;
  }
  .pet__photo:nth-child(6) {
    grid-row: 5 / 6;
    grid-column: 1 /2;
  }
  .pet__photo:nth-child(6) img {
    height: 45%;
  }
  .pet__photo:nth-child(4) {
    grid-row: 6 / 7;
    grid-column: 1 /2;
  }
  .pet__presantation  {
    font-size: 14px;
    line-height: 24px; 
    max-width: 171px;
  }
   
  }
  
 

  


