.projects__grid {
  display: grid;
  grid-template-columns: 65% 32%;
  justify-content: space-between;
  colunm-gap: 120px;
  
}
.projects-list {
  display: grid;
  grid-template-rows: repeat(4 180px);
    gap: 30px 20px;
}
.project {
  min-width: 100%;
  display: grid;
  grid-template-columns: 34% 63%;
  vertical-align: top;
  border: 1px solid #000;
  gap: 20px;  
}
.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project__subtitle {
  font-family: 'Helvetica Neue Cyr Heavy', sans-serif;
  font-weight: 550;
  font-size: 30px;
    line-height: 40px;
  letter-spacing: -0.5px;
  margin-bottom: 15px;
  color: #282626;
}
.projects__side {
  display: grid;
  gap: 52px
}
.projects__anonce {
  position: relative;
}
.anonce__link{
  position: absolute;
  top: 224px;
  left: calc(50%);
  display: none;
}
.anonce__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px
}
.anonce__title {
  font-weight: 550;
font-size: 20px;
line-height: 130%;
color: #282626;
margin-bottom: 19px;
}

.side__bunner {
  position: relative;
}
.bunner__title {
  position: absolute;
  font-family: 'HelveticaNeueCyr';
  font-weight: 550;
  font-size: 30px;
  line-height: 133%;
  color: #FFFFFF;
  max-width: 360px;
  top: 293px;
  left: 10px;
}
.bunner__link {
  position: absolute;
  top: 383px;
  left: 218px;
}
.info__text {
  font-weight: 300;
font-size: 20px;
line-height: 150%;
color: #282626;
margin-bottom: 20px;
}
@media (max-width: 1040px) {
  .projects__grid {
    grid-template-columns: 65% 31%;
    gap: 20px;
    
  }
  .project__subtitle {
    max-width: 300px;
    font-size: 24px;
    line-height: 125%;
    letter-spacing: -0.5px;
    margin-bottom: 7px;
  }
  .info__text {
  font-size: 18px;
  line-height: 144%;
  margin-bottom: 11px;
  }
  .bunner__title {
    font-size: 24px;
    line-height: 125%;
    max-width: 260px;
    top: 196px;
  }
  .bunner__link {
    top: 299px;
    left: 135px;
  }
  .anonce__title {
  font-size: 18px;
  line-height: 133%;
  margin-bottom: 6px;
  }
  .anonce__link{
    position: absolute;
    top: 193px;
    left: calc(45%);
    display: block;
  }
  
  .anonce__grid {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(2, 80px);
    max-height: 180px;
    overflow: hidden;
    gap: 20px;
  }
  .projects-list {
    grid-template-rows: repeat(4 130);
    gap: 20px;
  }
  .project {
    grid-template-columns: auto 360px; 
    vertical-align: top;
  }
        .projects__side {
    gap: 33px
  }
}
@media (max-width: 900px) {
  .projects__grid {
    max-width: 700px;
    grid-template-columns: 400px auto;
    gap: 6px;
    
  }
  .project__subtitle {
    font-size: 18px;
    line-height: 133% ;
    letter-spacing: -0.5px;
    margin-bottom: 3px;
  }
  .info__text {
    max-width: 230px;
    font-size: 14px;
    line-height: 143%;
    margin-bottom: 10px;
  }
  .project {
    max-width: 410px;
    grid-template-columns: auto 230px; 
    gap: 0;
    /* gap: 20px; */
  }
  .info__span {
    display: none;
  }
  .project__img  {
    max-width: 160px;
    height: 104px;
  }
  .bunner__img {
    max-width: 220px;
    height: 271px;
  }
  .bunner__title {
    position: absolute;
    font-family: 'HelveticaNeueCyr';
    font-weight: 550;
    font-size: 18px;
    line-height: 133%;
    color: #FFFFFF;
    max-width: 200px;
    top: 163px;
    left: 10px;
  }
  .bunner__link {
    top: 230px;
    left: 80px;
  }
  .anonce__title {
  font-size: 18px;
  line-height: 133%;
  margin-bottom: 6px;
  }
  .anonce__link{
    font-size: 14px;
    line-height: 143%;
    top: 140px;
    left: calc(50% - 10px)
  }
  
  .anonce__grid {
    display: grid;
    max-width: 220px;
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: repeat(2, 40px);
    max-height: 120px;
    overflow: hidden;
    gap: 20px;
    
  }
  .projects-list {
    grid-template-rows: repeat(4 130px);
    gap: 20px;
  }

        .projects__side {
    row-gap: 33px
  }
}
@media (max-width: 450px) {
  .projects__grid {
    max-width: 270px;
    grid-template-columns: 270px;
    row-gap: 20px   
  }
  .projects-list {
    grid-template-rows: repeat(4 134px);
    gap: 20px;
  }
  .project__subtitle {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
    width: 130px
  }
  .project__info {
    max-width: 129px;
    
  }
  .info__text {
    position: relative;
    max-height: 40px;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    margin-bottom: 13px;
  }
  .info__text:before {
    content: '...';
    position: absolute;
    left: 90px;;
    bottom: 0;
  }
  .project {
    max-width: 270px;
    grid-template-columns: 130px 130px; 
    gap: 20px;
  }
  .info__span {
    display: none;
  }
  .project__img  img{
      width: 130px;
      min-height: 130px;
      object-fit: cover; 
  }
        .projects__side {
    max-width: 270px;
    row-gap: 30px
  }
  .bunner__img {
    max-width: 270px;
    height: 320px;
  }
  .bunner__title {
    font-size: 18px;
    line-height: 133%;
  }
  .bunner__link {
    top: 230px;
    left: 80px;
  }
  .anonce__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .anonce__link{
    font-size: 14px;
    line-height: 143%;
    top: 80px;
    left: calc(50% + 10px);
  }
  
  .anonce__grid {
    display: grid;
    max-width: 270px;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: 40px;
    max-height: 53px;
    overflow: hidden;
    gap: 10px;
    
  }
  .anonce__img {
    width: 60px;
    height: 53px;
  }
        .projects__side {
    row-gap: 33px
  }
}
